name: CI

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # TODO: Temporarily using commit 437b47d instead of 'master' due to bug
        # See: https://github.com/mruby/mruby/issues/6636
        # Revert to 'master' once the issue is fixed
        mruby_version: ['3.4.0', '437b47d']

    steps:
    - uses: actions/checkout@v6.0.0
      with:
        submodules: recursive

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true

    - name: Install dependencies
      run: bundle install

    - name: Run RuboCop
      run: bundle exec rubocop

    - name: Run tests
      run: bundle exec rake test
      env:
        MRUBY_VERSION: ${{ matrix.mruby_version }}

  ci:
    runs-on: ubuntu-latest
    needs: test
    if: always()
    steps:
    - name: Check test results
      run: |
        if [ "${{ needs.test.result }}" != "success" ]; then
          exit 1
        fi
